<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @widget.title %>
</p>

<p>
  <b>Summary:</b>
  <%= @widget.summary %>
</p>


<%= link_to 'Edit', edit_widget_path(@widget) %> |
<%= link_to 'Back', widgets_path %>
